.order-summary {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.order-summary h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.order-summary p {
  font-size: 1rem;
  margin: 10px 0;
}

.order-summary strong {
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: right; /* محاذاة النص إلى اليمين */
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  animation: spin 1s ease-in-out alternate;
  animation-direction: alternate;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: right; /* محاذاة العنوان إلى اليمين */
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  text-align: right; /* محاذاة العناصر داخل القائمة إلى اليمين */
}

.modal-content ul li {
  margin: 5px 0;
  text-align: right; /* محاذاة النص داخل العناصر إلى اليمين */
}

.modal-content button:last-child {
  margin-top: 15px;
  margin-left: 15px;
  padding: 8px 16px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button {
  margin-top: 15px;
  margin-left: 15px;
  padding: 8px 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: scale(1)/* بداية التدوير */
  }
  50% {
    transform: scale(1.1); /* منتصف التدوير */
  }
  100% {
    transform: scale(1) /* نهاية التدوير */
  }
}


.css-35idci-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(206.67deg 33.33% 94.71%) !important;
  border-color: hsl(206.67deg 33.33% 94.71%) !important;
  /* border-radius: 4px; */
  border-style: none !important;
  border-width: 0px !important;
  box-sizing: border-box;
  font-size: 0.875rem;
  width: 100%;
}
.css-hlgwow {
  padding: 0px 0px !important;
}
@media (max-width: 640px) {
  .select__control {
    padding: 0px 4px; /* تقليص المسافات عند الشاشات الصغيرة */
    font-size: 0.9rem; /* تصغير حجم الخط */
    margin:auto !important;
    justify-content: center !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    
  }

  .select__option {
    margin:auto !important;
    justify-content: center !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    /* transform: translateX(50%) !important; */
    overflow-y: scroll !important;
    margin-right: auto !important; ;

  }
  .select__menu {
    transform: translateX(50%) !important;
    margin:auto !important;
    justify-content: center !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    overflow-y: scroll !important;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 50px;
  margin-top: 70px;
}
.top-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  gap: 10px;
  background-color: var(--icon-hover);
  background: linear-gradient(
      90deg,
      var(--icon-hover) 40%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url(https://moneyleek.online/wp-content/themes/1/seosight/images/bg-9.png);
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  span {
    font-size: 20px;
    &:hover {
      color: aliceblue;
    }
  }
  .contact-span {
    font-size: 20px;
    font-weight: 500;
    gap: 30px;
    display: flex;
  }
  .btn-prev {
    width: 40px !important;
    height: 40px !important;
    &:hover {
      color: aliceblue;
    }
  }
}

.bottom-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 50px; */
  text-align: right;
  width: 60% !important;

  gap: 20px;
  h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--icon-hover);
  }
  p {
    font-size: 20px;
  }
}

.contact-info {
  background-color: var(--primary);
  box-shadow: 1px 0px 10px 2px rgb(172 172 172 / 50%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-around !important;
  color: var(--white) !important;

  .contact-mail {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    &:hover {
      color: var(--text);
    }
  }
  .contact-flag {
    display: flex;
    transition: all 0.3s ease;
    gap: 20px;
    &:hover {
      color: var(--text);
    }
  }
  .contact-phone {
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
  }
  .flag-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mail-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .phone-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & a:hover {
      color: var(--text);
    }
  }
}

.contact-form {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  text-align: right;
  width: 100% !important;
  gap: 20px !important;
  display: flex;
  margin: auto;
  position: relative;
  .form-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-size: 40px;
      font-weight: 700;
      color: var(--icon-hover);
    }
    p {
      font-size: 20px;
    }
  }
}
.form-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
  position: relative;
  .flex {
    width: 100% !important;
  }
  input,
  textarea,
  .select,
  .price-input {
    padding: 19px 40px;
    transition: all 0.3s ease;
    font-size: 16px;
    color: #595959;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: #edf2f6;
    width: 100% !important;
    border: 1px solid #888 !important;
  }
  form .flex {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }

  input:focus,
  textarea:focus .select:focus {
    border-color: var(--icon-hover) !important;
    box-shadow: 17px 0 60px #d3dcdc;
    background-color: #fff;
    border: var(--icon-hover) !important;
  }
  .but-form {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    button {
      background-color: var(--text);
      color: white;
      padding: 15px 40px;
      border-radius: 50px;
      transition: all 0.3s ease;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      transition: all 0.3s ease;
      text-align: center;
      border-color: transparent;
      &:hover {
        background-color: var(--primary);
      }
      &:hover span {
        /* color: var(--icon-hover) !important; */
      }
    }
    span {
      display: inline;
      vertical-align: middle;
    }
  }
}

.semicircle {
  display: block;
  position: absolute;
  top: 6px;
  left: 125px !important;
  width: 11px;
  height: 35px;
  overflow: hidden;
}
.semicircle:after {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.btn-hover-shadow:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  left: 0;
  top: 0;
  position: absolute;
  transition: all 0.3s ease;
}

.contact-section footer {
  margin-top: 10rem;
}
/* ملف CSS الخاص بك */
.select {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
.css-utbxa3-control {
  background-color: #edf2f6 !important;
  height: 20px !important;
  border-width: 0px !important;
  min-height: auto !important;
}
.css-1wy0on6,
.css-19bb58m:after {
  display: none !important;
}
.select__input {
  margin-inline: -13px !important;
}
.form-info {
  input:focus,
  textarea:focus .select:focus {
    border-color: #d3dcdc !important;
    box-shadow: 17px 0 60px #d3dcdc;
    background-color: #fff;
  }
}

@media (max-width: 868px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: right;
    align-items: self-start;
    justify-content: center;
    padding: 50px;
  }
  .bottom-contact {
    padding: 0px !important;
    width: 90% !important;
  }
}

/* From Uiverse.io by Yaya12085 - Modified for Dark Mode */
.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: var(--background);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
  color: var(--background);
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--background);
  border-color: var(--background);
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: var(--background);
}

.radio-input:checked + .radio-tile .radio-label {
  color: var(--background);
}

.radio-input:focus + .radio-tile {
  border-color: var(--background) !important;

  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1), 0 0 0 4px var(--background);
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 2px solid #4a5265;
  background-color: var(--white);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.05);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border: 2px solid #4a5265;
  background-color: #1e2129;
  border-radius: 50%;
  top: 0.35rem;
  /* left: 0.5rem; */
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: var(--background) !important;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #b6b6b6;
}

.radio-label {
  color: #8f8f8f;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
